### Load Denoised Data

In [38]:
noise_list = [str(i) for i in range(0,60,10)]
noise_list

['0', '10', '20', '30', '40', '50']

In [39]:
import pandas as pd
denoised_base_pth = "..\\data\\sample\\train\\scaled\\denoised\\train_flipped_labels_"
#noised_base_pth = "..\\data\\sample\\train\\scaled\\train_flipped_labels_"
#test = pd.read_csv("..\\data\\sample\\test\\scaled\\test_scaled.csv")
#test_pth = "..\\data\\sample\\test\\scaled\\test_scaled.csv"
denoised_list =[]
noised_list=[]
for i in range(len(noise_list)):
    denoised_list.append(pd.read_csv(denoised_base_pth+noise_list[i]+".csv"))
    #noised_list.append(pd.read_csv(noised_base_pth+noise_list[i]+".csv"))
len(denoised_list)

6

### Analyze noise rate 50% data

In [40]:
noise_50_df = denoised_list[-1]
noise_50_df

,f_0,f_1,f_2,f_3,f_4,f_5,f_6,f_7,f_8,f_9,...,f_13,f_14,f_15,f_16,f_17,f_18,f_19,f_20,label,label_flip
0,1.330459,-1.311982,0.938006,-0.195022,-1.363969,-0.378310,-1.310023,-0.225623,0.626147,1.154631,...,-0.105025,-0.311945,0.625775,1.405518,0.467836,-0.126246,2.380811,0.400076,1,1
1,-1.084810,0.386941,-0.556736,-0.195022,0.733154,2.643335,0.636369,-0.225623,-1.597070,-0.848270,...,-0.105025,-0.311945,0.625775,-0.711481,1.002042,-0.021015,-0.535285,0.862473,1,0
2,1.330459,-0.179367,-0.342876,-0.195022,0.733154,-0.378310,0.636369,-0.225623,0.626147,-0.410518,...,1.026709,3.205698,0.625775,-0.711481,-0.946821,-0.154307,0.602302,0.679871,1,0
3,0.525370,-0.179367,-0.033908,-0.195022,-1.363969,2.643335,0.636369,-0.225623,0.626147,1.721997,...,-0.105025,3.205698,0.625775,1.405518,-0.996285,-0.315661,-0.252949,-1.393553,1,0
4,-1.084810,-0.462521,0.265388,-0.195022,0.733154,-0.378310,0.636369,-0.225623,0.626147,1.406522,...,-0.105025,3.205698,0.625775,-0.711481,-1.035856,0.434986,-0.423999,-1.308142,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15501,-1.084810,0.103787,2.322157,-0.195022,0.733154,2.643335,-1.310023,-0.225623,0.626147,1.017680,...,1.026709,-0.311945,-1.598018,1.405518,0.448050,-0.827785,0.688857,-0.990060,1,1
15502,1.330459,-1.878290,-0.791396,5.127629,0.733154,-0.378310,0.636369,-0.225623,0.626147,1.137512,...,-0.105025,-0.311945,0.625775,1.405518,-0.966607,-1.024215,1.039201,-1.125539,0,0
15503,-0.279720,-2.586175,-0.263498,-0.195022,-1.363969,-0.378310,0.636369,-0.225623,-1.597070,-0.816478,...,-1.236759,-0.311945,-1.598018,1.405518,-0.788538,1.108463,-1.025766,-0.845745,1,1
15504,1.330459,1.094826,-1.018049,-0.195022,0.733154,-0.378310,-1.310023,-0.225623,0.626147,-0.408072,...,1.026709,-0.311945,0.625775,1.405518,0.180947,0.799786,-0.720761,-0.509992,0,0
15505,-1.084810,-0.037790,-0.526817,5.127629,0.733154,2.643335,0.636369,-0.225623,-1.597070,-0.875171,...,-1.236759,-0.311945,-1.598018,1.405518,0.269981,-1.410062,-0.605353,-1.997319,1,1

In [41]:
noise_50_df.loc[noise_50_df['label_flip'] == 1]

,f_0,f_1,f_2,f_3,f_4,f_5,f_6,f_7,f_8,f_9,...,f_13,f_14,f_15,f_16,f_17,f_18,f_19,f_20,label,label_flip
0,1.330459,-1.311982,0.938006,-0.195022,-1.363969,-0.378310,-1.310023,-0.225623,0.626147,1.154631,...,-0.105025,-0.311945,0.625775,1.405518,0.467836,-0.126246,2.380811,0.400076,1,1
5,-1.084810,-0.037790,-0.701558,-0.195022,0.733154,-0.378310,0.636369,-0.225623,-1.597070,-0.635508,...,-1.236759,-0.311945,0.625775,1.405518,-0.086156,2.174802,-0.248827,0.732884,1,1
7,-1.084810,-1.595136,-1.786935,-0.195022,-1.363969,-0.378310,0.636369,-0.225623,0.626147,2.003234,...,-0.105025,-0.311945,0.625775,-0.711481,-1.273281,-0.343723,-0.722821,-0.227252,1,1
8,-1.084810,0.386941,-0.088126,-0.195022,0.733154,-0.378310,0.636369,4.432166,0.626147,-0.302914,...,-1.236759,-0.311945,0.625775,-0.711481,0.774509,-1.094369,-0.013891,0.903706,1,1
14,0.525370,0.670095,-0.336599,-0.195022,0.733154,-0.378310,0.636369,-0.225623,0.626147,-0.422746,...,1.026709,-0.311945,0.625775,-0.711481,-0.867680,0.329755,3.526641,0.190967,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15494,-1.084810,-1.170405,1.672271,-0.195022,0.733154,-0.378310,0.636369,-0.225623,0.626147,-0.889844,...,-1.236759,-0.311945,-1.598018,1.405518,2.169381,-0.540154,0.711527,-0.265540,1,1
15495,0.525370,-1.311982,-0.515643,-0.195022,-1.363969,-0.378310,0.636369,-0.225623,0.626147,2.083937,...,1.026709,-0.311945,0.625775,1.405518,1.546140,0.385878,-0.648631,-0.536498,1,1
15501,-1.084810,0.103787,2.322157,-0.195022,0.733154,2.643335,-1.310023,-0.225623,0.626147,1.017680,...,1.026709,-0.311945,-1.598018,1.405518,0.448050,-0.827785,0.688857,-0.990060,1,1
15503,-0.279720,-2.586175,-0.263498,-0.195022,-1.363969,-0.378310,0.636369,-0.225623,-1.597070,-0.816478,...,-1.236759,-0.311945,-1.598018,1.405518,-0.788538,1.108463,-1.025766,-0.845745,1,1
15505,-1.084810,-0.037790,-0.526817,5.127629,0.733154,2.643335,0.636369,-0.225623,-1.597070,-0.875171,...,-1.236759,-0.311945,-1.598018,1.405518,0.269981,-1.410062,-0.605353,-1.997319,1,1

In [42]:
noise_50_df.loc[noise_50_df['label_flip'] == 0]

,f_0,f_1,f_2,f_3,f_4,f_5,f_6,f_7,f_8,f_9,...,f_13,f_14,f_15,f_16,f_17,f_18,f_19,f_20,label,label_flip
1,-1.084810,0.386941,-0.556736,-0.195022,0.733154,2.643335,0.636369,-0.225623,-1.597070,-0.848270,...,-0.105025,-0.311945,0.625775,-0.711481,1.002042,-0.021015,-0.535285,0.862473,1,0
2,1.330459,-0.179367,-0.342876,-0.195022,0.733154,-0.378310,0.636369,-0.225623,0.626147,-0.410518,...,1.026709,3.205698,0.625775,-0.711481,-0.946821,-0.154307,0.602302,0.679871,1,0
3,0.525370,-0.179367,-0.033908,-0.195022,-1.363969,2.643335,0.636369,-0.225623,0.626147,1.721997,...,-0.105025,3.205698,0.625775,1.405518,-0.996285,-0.315661,-0.252949,-1.393553,1,0
4,-1.084810,-0.462521,0.265388,-0.195022,0.733154,-0.378310,0.636369,-0.225623,0.626147,1.406522,...,-0.105025,3.205698,0.625775,-0.711481,-1.035856,0.434986,-0.423999,-1.308142,0,0
6,-1.084810,-1.878290,-0.296606,5.127629,-1.363969,-0.378310,0.636369,-0.225623,0.626147,-0.200201,...,1.026709,-0.311945,-1.598018,-0.711481,1.219681,0.224524,-0.514676,-0.937046,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15498,-1.084810,0.670095,-0.174343,-0.195022,0.733154,-0.378310,0.636369,-0.225623,0.626147,0.325591,...,1.026709,-0.311945,-1.598018,-0.711481,-1.035856,-0.217446,-0.669239,0.229254,1,0
15499,0.525370,-1.311982,-0.587341,-0.195022,0.733154,2.643335,-1.310023,-0.225623,0.626147,0.132393,...,1.026709,-0.311945,0.625775,-0.711481,-0.907251,-0.785692,-0.094264,1.050966,0,0
15500,-1.084810,-1.028828,0.219160,-0.195022,0.733154,-0.378310,0.636369,-0.225623,0.626147,-0.542577,...,1.026709,-0.311945,0.625775,-0.711481,-0.382937,-0.547169,1.206129,-0.698485,1,0
15502,1.330459,-1.878290,-0.791396,5.127629,0.733154,-0.378310,0.636369,-0.225623,0.626147,1.137512,...,-0.105025,-0.311945,0.625775,1.405518,-0.966607,-1.024215,1.039201,-1.125539,0,0
15504,1.330459,1.094826,-1.018049,-0.195022,0.733154,-0.378310,-1.310023,-0.225623,0.626147,-0.408072,...,1.026709,-0.311945,0.625775,1.405518,0.180947,0.799786,-0.720761,-0.509992,0,0

### Down-size datasets with higher noise rates into noise rate 50% case

In [43]:
sampled_denoised_base_pth = "..\\data\\sample\\train\\scaled\\denoised\\same_sized\\train_flipped_labels_"
for i in range(0,len(denoised_list)-1):
    df = denoised_list[i]
    label_1 = df.loc[df['label_flip'] == 1]
    label_0 = df.loc[df['label_flip'] == 0]
    filtered_1 = label_1.sample(n=7753)
    filtered_0 = label_0.sample(n=7753)
    filtered_df = pd.concat([filtered_1,filtered_0])
    #print(filtered_df.loc[filtered_df["label_flip"]==0])
    df_to_save = filtered_df.sample(frac=1).reset_index(drop=True)
    df_to_save.to_csv(sampled_denoised_base_pth+noise_list[i]+".csv",index=False)

In [3]:
import pandas as pd
sampled_denoised_base_pth = "..\\data\\sample\\train\\scaled\\denoised\\train_flipped_labels_30.csv"
df = pd.read_csv(sampled_denoised_base_pth)
df

,f_0,f_1,f_2,f_3,f_4,f_5,f_6,f_7,f_8,f_9,...,f_13,f_14,f_15,f_16,f_17,f_18,f_19,f_20,label,label_flip
0,-0.297561,-1.730779,0.379732,-0.189956,-1.375938,2.599195,0.625216,-0.217426,-1.439620,-0.827152,...,-1.123015,-0.307514,0.609374,-0.719355,1.028734,-0.275447,-1.138118,-0.757586,1,1
1,1.320715,-0.880008,0.068313,-0.189956,0.726777,-0.384734,-1.329011,-0.217426,-1.439620,-0.799981,...,-1.123015,-0.307514,-1.641028,-0.719355,1.166224,-0.767827,-1.195575,-0.963751,1,1
2,-1.106699,0.679740,0.837941,-0.189956,-1.375938,-0.384734,0.625216,-0.217426,0.694628,0.951308,...,1.113939,3.251882,-1.641028,1.390134,-0.022077,-1.329557,1.412549,0.452897,0,0
3,0.511577,-1.021803,-0.818116,-0.189956,0.726777,-0.384734,0.625216,-0.217426,-1.439620,-0.834563,...,-1.123015,-0.307514,0.609374,1.390134,1.244789,-0.629128,2.744313,0.279129,0,0
4,-1.106699,0.963330,2.057008,-0.189956,0.726777,-0.384734,0.625216,-0.217426,-1.439620,-0.829622,...,1.113939,-0.307514,0.609374,1.390134,0.920707,-0.469625,0.452201,-0.981423,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21705,0.511577,-0.880008,-0.298354,-0.189956,0.726777,-0.384734,0.625216,4.599257,0.694628,0.306616,...,1.113939,-0.307514,0.609374,-0.719355,-0.640779,1.312653,-0.093637,-0.887176,1,1
21706,1.320715,-1.447189,-0.171690,-0.189956,0.726777,-0.384734,0.625216,-0.217426,-1.439620,-0.829622,...,1.113939,-0.307514,0.609374,-0.719355,2.089366,1.777293,0.755901,-0.292243,0,0
21707,-1.106699,-1.163598,0.447373,-0.189956,-1.375938,-0.384734,0.625216,4.599257,0.694628,0.640077,...,-0.004538,-0.307514,0.609374,-0.719355,-0.650599,-1.468255,-0.356297,-0.315804,1,1
21708,1.320715,0.254354,-0.798155,-0.189956,0.726777,-0.384734,0.625216,-0.217426,-1.439620,-0.834563,...,-1.123015,-0.307514,0.609374,1.390134,-0.277414,0.411111,-1.390517,-1.340739,0,0
21709,0.511577,-1.163598,-0.667263,5.264380,-1.375938,-0.384734,0.625216,-0.217426,0.694628,-0.160230,...,1.113939,-0.307514,0.609374,1.390134,-0.896116,-0.233837,-0.748233,0.087690,0,0

In [7]:
df.groupby("label_flip").count()

,f_0,f_1,f_2,f_3,f_4,f_5,f_6,f_7,f_8,f_9,...,f_12,f_13,f_14,f_15,f_16,f_17,f_18,f_19,f_20,label
label_flip,,,,,,,,,,,,,,,,,,,,,
0,10855,10855,10855,10855,10855,10855,10855,10855,10855,10855,...,10855,10855,10855,10855,10855,10855,10855,10855,10855,10855
1,10855,10855,10855,10855,10855,10855,10855,10855,10855,10855,...,10855,10855,10855,10855,10855,10855,10855,10855,10855,10855

In [8]:
df.groupby("label").count()

,f_0,f_1,f_2,f_3,f_4,f_5,f_6,f_7,f_8,f_9,...,f_12,f_13,f_14,f_15,f_16,f_17,f_18,f_19,f_20,label_flip
label,,,,,,,,,,,,,,,,,,,,,
0,8840,8840,8840,8840,8840,8840,8840,8840,8840,8840,...,8840,8840,8840,8840,8840,8840,8840,8840,8840,8840
1,12870,12870,12870,12870,12870,12870,12870,12870,12870,12870,...,12870,12870,12870,12870,12870,12870,12870,12870,12870,12870

In [9]:
df[df["label_flip"]==1].count()/df.groupby("label").count()

,f_0,f_1,f_10,f_11,f_12,f_13,f_14,f_15,f_16,f_17,...,f_20,f_3,f_4,f_5,f_6,f_7,f_8,f_9,label,label_flip
label,,,,,,,,,,,,,,,,,,,,,
0,1.227941,1.227941,1.227941,1.227941,1.227941,1.227941,1.227941,1.227941,1.227941,1.227941,...,1.227941,1.227941,1.227941,1.227941,1.227941,1.227941,1.227941,1.227941,NaN,1.227941
1,0.843434,0.843434,0.843434,0.843434,0.843434,0.843434,0.843434,0.843434,0.843434,0.843434,...,0.843434,0.843434,0.843434,0.843434,0.843434,0.843434,0.843434,0.843434,NaN,0.843434

In [11]:
sampled_noised_base_pth = "..\\data\\sample\\train\\scaled\\train_flipped_labels_30.csv"
df_scaled = pd.read_csv(sampled_noised_base_pth)
df_scaled

,f_0,f_1,f_2,f_3,f_4,f_5,f_6,f_7,f_8,f_9,...,f_13,f_14,f_15,f_16,f_17,f_18,f_19,f_20,label,label_flip
0,-0.297561,0.396149,0.319782,-0.189956,0.726777,-0.384734,0.625216,-0.217426,0.694628,-0.790101,...,-0.004538,-0.307514,0.609374,-0.719355,0.066309,0.265478,-0.333724,-0.442449,1,1
1,-1.106699,-0.171032,-0.219431,-0.189956,0.726777,-0.384734,-1.329011,-0.217426,0.694628,-0.281264,...,1.113939,3.251882,0.609374,1.390134,-1.446073,1.000581,-0.019765,1.828311,1,1
2,-0.297561,1.246921,-0.516255,-0.189956,0.726777,-0.384734,0.625216,-0.217426,0.694628,-0.834563,...,-1.123015,-0.307514,-1.641028,-0.719355,0.606446,-0.677673,0.210062,0.541253,1,1
3,1.320715,1.105125,1.131581,-0.189956,0.726777,-0.384734,0.625216,4.599257,0.694628,0.432590,...,1.113939,-0.307514,-1.641028,-0.719355,-0.758627,-0.740087,-0.553291,0.338033,1,1
4,0.511577,0.396149,-0.315205,-0.189956,0.726777,-0.384734,-1.329011,-0.217426,0.694628,-0.246683,...,-0.004538,-0.307514,0.609374,1.390134,2.010801,0.778663,-0.625112,-0.619161,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34997,0.511577,1.530511,-0.730686,-0.189956,-1.375938,-0.384734,0.625216,-0.217426,0.694628,-0.819742,...,-0.004538,-0.307514,0.609374,1.390134,0.292185,0.314022,-0.809794,-1.084505,0,0
34998,0.511577,0.963330,-0.006729,-0.189956,0.726777,-0.384734,0.625216,-0.217426,0.694628,-0.834563,...,-0.004538,-0.307514,0.609374,-0.719355,1.215327,-0.573649,-0.467106,0.243786,0,0
34999,-1.106699,1.105125,-0.190584,-0.189956,0.726777,-0.384734,0.625216,-0.217426,0.694628,-0.063897,...,1.113939,-0.307514,-1.641028,1.390134,0.527880,1.000581,-1.088870,-0.728134,0,0
35000,-1.106699,-0.454622,-1.962549,-0.189956,-1.375938,-0.384734,0.625216,-0.217426,0.694628,-0.834563,...,-1.123015,-0.307514,0.609374,1.390134,0.331467,0.064365,-1.179159,-0.115530,1,1
35001,0.511577,0.963330,0.123665,-0.189956,0.726777,-0.384734,-1.329011,-0.217426,0.694628,2.490169,...,1.113939,-0.307514,0.609374,-0.719355,1.107300,-0.240772,-0.087481,-0.613271,0,0

In [12]:
df_scaled.groupby("label").count()

,f_0,f_1,f_2,f_3,f_4,f_5,f_6,f_7,f_8,f_9,...,f_12,f_13,f_14,f_15,f_16,f_17,f_18,f_19,f_20,label_flip
label,,,,,,,,,,,,,,,,,,,,,
0,19496,19496,19496,19496,19496,19496,19496,19496,19496,19496,...,19496,19496,19496,19496,19496,19496,19496,19496,19496,19496
1,15506,15506,15506,15506,15506,15506,15506,15506,15506,15506,...,15506,15506,15506,15506,15506,15506,15506,15506,15506,15506

In [14]:
df_scaled.groupby("label_flip").count()

,f_0,f_1,f_2,f_3,f_4,f_5,f_6,f_7,f_8,f_9,...,f_12,f_13,f_14,f_15,f_16,f_17,f_18,f_19,f_20,label
label_flip,,,,,,,,,,,,,,,,,,,,,
0,24147,24147,24147,24147,24147,24147,24147,24147,24147,24147,...,24147,24147,24147,24147,24147,24147,24147,24147,24147,24147
1,10855,10855,10855,10855,10855,10855,10855,10855,10855,10855,...,10855,10855,10855,10855,10855,10855,10855,10855,10855,10855

In [15]:
sampled_denoised_base_pth_50 = "..\\data\\sample\\train\\scaled\\denoised\\train_flipped_labels_50.csv"
df_50 = pd.read_csv(sampled_denoised_base_pth_50)
df_50

,f_0,f_1,f_2,f_3,f_4,f_5,f_6,f_7,f_8,f_9,...,f_13,f_14,f_15,f_16,f_17,f_18,f_19,f_20,label,label_flip
0,1.330459,-1.311982,0.938006,-0.195022,-1.363969,-0.378310,-1.310023,-0.225623,0.626147,1.154631,...,-0.105025,-0.311945,0.625775,1.405518,0.467836,-0.126246,2.380811,0.400076,1,1
1,-1.084810,0.386941,-0.556736,-0.195022,0.733154,2.643335,0.636369,-0.225623,-1.597070,-0.848270,...,-0.105025,-0.311945,0.625775,-0.711481,1.002042,-0.021015,-0.535285,0.862473,1,0
2,1.330459,-0.179367,-0.342876,-0.195022,0.733154,-0.378310,0.636369,-0.225623,0.626147,-0.410518,...,1.026709,3.205698,0.625775,-0.711481,-0.946821,-0.154307,0.602302,0.679871,1,0
3,0.525370,-0.179367,-0.033908,-0.195022,-1.363969,2.643335,0.636369,-0.225623,0.626147,1.721997,...,-0.105025,3.205698,0.625775,1.405518,-0.996285,-0.315661,-0.252949,-1.393553,1,0
4,-1.084810,-0.462521,0.265388,-0.195022,0.733154,-0.378310,0.636369,-0.225623,0.626147,1.406522,...,-0.105025,3.205698,0.625775,-0.711481,-1.035856,0.434986,-0.423999,-1.308142,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15501,-1.084810,0.103787,2.322157,-0.195022,0.733154,2.643335,-1.310023,-0.225623,0.626147,1.017680,...,1.026709,-0.311945,-1.598018,1.405518,0.448050,-0.827785,0.688857,-0.990060,1,1
15502,1.330459,-1.878290,-0.791396,5.127629,0.733154,-0.378310,0.636369,-0.225623,0.626147,1.137512,...,-0.105025,-0.311945,0.625775,1.405518,-0.966607,-1.024215,1.039201,-1.125539,0,0
15503,-0.279720,-2.586175,-0.263498,-0.195022,-1.363969,-0.378310,0.636369,-0.225623,-1.597070,-0.816478,...,-1.236759,-0.311945,-1.598018,1.405518,-0.788538,1.108463,-1.025766,-0.845745,1,1
15504,1.330459,1.094826,-1.018049,-0.195022,0.733154,-0.378310,-1.310023,-0.225623,0.626147,-0.408072,...,1.026709,-0.311945,0.625775,1.405518,0.180947,0.799786,-0.720761,-0.509992,0,0
15505,-1.084810,-0.037790,-0.526817,5.127629,0.733154,2.643335,0.636369,-0.225623,-1.597070,-0.875171,...,-1.236759,-0.311945,-1.598018,1.405518,0.269981,-1.410062,-0.605353,-1.997319,1,1

In [21]:
df_50.groupby("label").count()["label_flip"]

label
0     4243
1    11263
Name: label_flip, dtype: int64

In [18]:
df_50.groupby("label_flip").count()

,f_0,f_1,f_2,f_3,f_4,f_5,f_6,f_7,f_8,f_9,...,f_12,f_13,f_14,f_15,f_16,f_17,f_18,f_19,f_20,label
label_flip,,,,,,,,,,,,,,,,,,,,,
0,7753,7753,7753,7753,7753,7753,7753,7753,7753,7753,...,7753,7753,7753,7753,7753,7753,7753,7753,7753,7753
1,7753,7753,7753,7753,7753,7753,7753,7753,7753,7753,...,7753,7753,7753,7753,7753,7753,7753,7753,7753,7753

In [16]:
sampled_denoised_base_pth_10 = "..\\data\\sample\\train\\scaled\\denoised\\train_flipped_labels_10.csv"
df_10 = pd.read_csv(sampled_denoised_base_pth_10)
df_10

,f_0,f_1,f_2,f_3,f_4,f_5,f_6,f_7,f_8,f_9,...,f_13,f_14,f_15,f_16,f_17,f_18,f_19,f_20,label,label_flip
0,0.503412,-2.561914,-1.958544,-0.185693,-1.372163,-0.388978,0.624511,-0.210937,0.735580,1.572054,...,1.168805,-0.302515,0.605515,1.391493,-0.624711,-0.554146,0.307763,0.431219,1,0
1,-1.116528,0.116065,-0.510126,-0.185693,0.728776,-0.388978,0.624511,-0.210937,0.735580,-0.290410,...,-1.065437,-0.302515,-1.651487,-0.718653,-0.985737,-0.188073,-0.080380,1.656062,0,0
2,1.313382,-0.870559,-0.101974,-0.185693,0.728776,-0.388978,0.624511,-0.210937,-1.359472,-0.799254,...,-1.065437,-0.302515,-1.651487,-0.718653,-0.371018,1.856409,0.391520,0.410608,1,1
3,-1.116528,-0.165827,0.126540,-0.185693,0.728776,-0.388978,-1.334325,-0.210937,0.735580,-0.799254,...,-1.065437,-0.302515,0.605515,-0.718653,0.770604,-1.327734,-0.356165,0.122063,1,1
4,-1.116528,-1.011505,0.377297,-0.185693,0.728776,2.570843,0.624511,-0.210937,-1.359472,-0.799254,...,-1.065437,-0.302515,0.605515,-0.718653,0.272974,0.205628,0.172935,1.105471,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27907,-0.306558,0.397958,0.314400,-0.185693,0.728776,-0.388978,-1.334325,4.740749,0.735580,0.334528,...,1.168805,-0.302515,0.605515,-0.718653,0.965753,-1.182687,-0.846451,0.428274,0,0
27908,0.503412,0.538904,-0.822338,-0.185693,0.728776,-0.388978,-1.334325,-0.210937,0.735580,-0.421326,...,1.168805,-0.302515,-1.651487,-0.718653,0.829149,-0.844242,-0.672808,0.216282,1,1
27909,-1.116528,-0.165827,-0.438774,-0.185693,-1.372163,-0.388978,0.624511,-0.210937,-1.359472,-0.730090,...,1.168805,-0.302515,-1.651487,1.391493,1.912226,0.841075,2.103434,0.198616,0,0
27910,1.313382,-0.024881,-0.100001,-0.185693,0.728776,-0.388978,-1.334325,-0.210937,0.735580,0.542017,...,1.168805,-0.302515,0.605515,-0.718653,-1.219916,-1.376084,-0.029308,-0.243034,1,1
27911,-0.306558,0.538904,0.479371,-0.185693,0.728776,-0.388978,0.624511,-0.210937,-1.359472,-0.799254,...,-1.065437,-0.302515,0.605515,1.391493,0.312004,-0.623217,-0.317351,-0.773014,0,0

In [22]:
df_10.groupby("label").count()["label_flip"]

label
0    13273
1    14639
Name: label_flip, dtype: int64

In [20]:
df_10.groupby("label_flip").count()

,f_0,f_1,f_2,f_3,f_4,f_5,f_6,f_7,f_8,f_9,...,f_12,f_13,f_14,f_15,f_16,f_17,f_18,f_19,f_20,label
label_flip,,,,,,,,,,,,,,,,,,,,,
0,13956,13956,13956,13956,13956,13956,13956,13956,13956,13956,...,13956,13956,13956,13956,13956,13956,13956,13956,13956,13956
1,13956,13956,13956,13956,13956,13956,13956,13956,13956,13956,...,13956,13956,13956,13956,13956,13956,13956,13956,13956,13956